.MuiContainer-root {
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 20px 10px;
}

.MuiTypography-root {
  color: var(--secondary-text);
}

