:root {
  --white100: #FFFFFF;
  --white200: #f5f5f5;
  --white300: #E3E3E3;
  --blue: #2177D0;
  --grey: #494949;
  --red: #960000;
  --secondary: #846FFF;
  --primary: #FFA826;
  --secondary-text: #E3E3E3;
}
